name: Image

on:
  push:
    branches:
    - "**"
    tags:
    - "**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - name: Log in to registry
      uses: docker/login-action@v3.7.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata
      id: metadata
      uses: docker/metadata-action@v5.10.0
      with:
        images: ghcr.io/${{ github.repository }}
        tags: |
          type=sha,prefix=
          type=ref,event=tag

    - name: Set up buildx
      uses: docker/setup-buildx-action@v3.12.0

    - name: Push image
      uses: docker/build-push-action@v6.19.2
      with:
        platforms: linux/amd64,linux/arm64
        tags: ${{ steps.metadata.outputs.tags }}
        push: true
